.icon {
  width: 180px;
  height: 180px;
  position: absolute;
}
.box {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 18px;
  align-items: center;
  justify-content: center;
}
