.container {
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 0;
}
.logoImg {
  width: 40px;
  height: 40px;
  margin-right: 18px;
}
.logoBox {
  flex-direction: row;
  align-items: center;
}
.logoBox p{
    font-size: 1.5rem;
}