.icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
.title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.desc {
  max-height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#box:hover svg path {
  stroke: #5864ff;
}
