.footerBox {
  flex-direction: row !important;
  justify-content: space-between;
  padding-bottom: 70px;
}
.footerBox h6 {
  letter-spacing: 1px;
}
@media (max-width: 500px) {
  .footerBox {
    flex-direction: column !important;
    align-items: center;
  }
}
