*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  background-color: #141414;
  overflow-y: scroll !important;
}
::-webkit-scrollbar {
  background-color: #141414;
  width: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(156, 156, 156);
  border-radius: 10px;
}
::-webkit-inner-spin-button,
::-webkit-inner-outer-button {
  -webkit-appearance: none;
  margin: 0;
}
