.cardBox {
  width: 100%;
  padding: 25px 30px;
  background-color: rgba(60, 60, 60, 0.2);
  z-index: 300;
}
.noContent{
  margin-bottom: 30px;
  letter-spacing: 1px;
}
@media (max-width: 800px) {
  .noContent{
    font-size: 0.87rem;
  }
  .cardBox{
    padding: 25px 20px;
  }
}