.inputBox {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.inputBox input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  color: white;
  font-family: "Exo";
}
.inputBox input::-webkit-inner-spin-button,
.inputBox input::-webkit-inner-outer-button {
  -webkit-appearance: none;
  margin: 0;
}

.divider {
  width: calc(100% + 60px);
  height: 2px;
  background-color: #14141491;
  margin: 20px 0 20px -31px;
  justify-content: center;
  align-items: center;
}
.divider img {
  width: 32px;
  height: 32px;
  background-color: #141414;
  border-radius: 50%;
  padding: 12px 8px;
}
.textRestr {
  max-width: 300px;
}
@media (max-width: 600px) {
  .textRestr {
    max-width: 150px;
  }
}
@media (max-width: 400px) {
  .textRestr {
    max-width: 50px;
  }
}
